
.menu-list li {
    display: inline-block;
    margin-left: 20px;
    position: relative;
}

.menu-list li a:hover {
    color: #00AEEE;
}

.sub-menu {
 
    top: 100%;
    left: 0;
    z-index: 1;
    min-width: 200px;

  
}

.sub-menu li a {
    color: #303134;
    text-decoration: none;
    font-size: 14px;
    display: block;
    padding: 10px;
}

.sub-menu li a:hover {
    color: #1a70f1;
    background-color: #706e6e;
}

.menu-list li:hover .sub-menu {
    display: block;
}


.sub-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 0;

}

.sub-menu li {
    display: block;
    text-align: left;
}

.sub-menu a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.sub-menu a:hover {
    background-color: #f1f1f1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #000000;
    height: 90px;
}

.logo {
    height: 200px;
    width: auto;
    max-width: 100%;
}

.menu {
    display: flex;
}

.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-list li {
    display: inline;
    position: relative;
}

.menu-list a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.icons {
    display: flex;
}

.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-decoration: none;
}

.hamburger {
    display: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        text-align: center;
        opacity: 0;
        transform: translateY(-50px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    .menu.show {
        display: block;
        opacity: 1;
        transform: translateY(0);
    }

    .menu-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .menu-list li {
        display: block;
        margin: 20px 0;
        opacity: 0;
        transform: translateY(-20px);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        transition-delay: 0.1s;
    }

    .menu.show .menu-list li {
        opacity: 1;
        transform: translateY(0);
    }

    .menu-list a {
        display: block;
        padding: 10px 0;
        color: #fff;
        font-size: 20px;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
    }

    .menu-list a:hover {
        color: #f1c40f;
    }

    .hamburger {
        display: block;
    }

    .hamburger:hover .line {
        background-color: #f1c40f;
    }

    .line {
        width: 30px;
        height: 3px;
        background-color: #fff;
        margin: 5px;
        transition: background-color 0.3s ease-in-out;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
    }

    .menu-icon:hover {
        cursor: pointer;
    }

    .menu-icon:focus {
        outline: none;
    }
}

/* ------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------*/
@media (max-width: 768px) {

    /* Estilos para menú móvil */
    /* ... */
    .menu {
        /*...*/
        opacity: 0;
        transform: translateY(-100%);
        transition: opacity 0.3s ease-in-out, transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    .menu-list {
        font-size: 24px;
        /* Aumenta el tamaño de la fuente */
        padding: 40px 0;
        /* Aumenta el padding */
        font-family: 'Open Sans', sans-serif;
        /* Establece una fuente personalizada */
    }

    .menu-list li {
        margin: 30px 0;
        /* Aumenta el margen entre elementos */
    }

    .menu-list a {
        padding: 20px 0;
        /* Aumenta el padding de los enlaces */
        display: block;
        /* Hace que los enlaces ocupen todo el ancho del menú */
        font-weight: 600;
        /* Establece un peso de fuente más fuerte */
        color: #ffffff;
        /* Establece un color de fuente */
        text-decoration: none;
        /* Quita la decoración de subrayado */
        font-family: 'Open Sans', sans-serif;
        /* Establece una fuente personalizada */
    }

    .hamburger {
        display: block;
        font-size: 40px;
        /* Aumenta el tamaño del icono */
        color: red;
        /* Agrega un color para confirmar que el estilo se está aplicando */
    }

    /* Agrega una capa de fondo para el menú */
    .menu-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
    }

    .menu-overlay.show {
        opacity: 1;
        visibility: visible;
        transition-delay: 0s;
    }

    .menu.show {
        /*...*/
        opacity: 1;
        transform: translateY(0);
        animation: slide-down 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }

    /* Agrega una animación para la capa de fondo */
    .menu.show+.menu-overlay {
        transition-delay: 0s;
    }

    .menu.show+.menu-overlay.show {
        transition-delay: 0s;
    }

    /* ... */
    .logo {
        background-repeat: no-repeat;
        background-size: auto;
        width: 100%;
        height: 200px;
        margin: 20px 0;
    }

    @keyframes slide-down {
        from {
            transform: translateY(-100%);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }
}

@media (max-width: 319px) {
    .icons {
        display: none;
        /* Oculta los iconos */
    }
}

@media (max-width: 537px) {
    .logo {
        height: 50px;
    }

    .menu.show {
        left: 0;
    }

    .menu-list li {
        margin-bottom: 10px;
    }

    .menu-list a {
        font-size: 18px;
        opacity: 1;
        padding: 10px;
        display: block;
        transition: opacity 0.3s ease-in-out;
    }

    .menu-list a:hover {
        opacity: 0.7;
    }

    .line {
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: transform 0.3s ease-in-out;
    }

    .show .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .show .line:nth-child(2) {
        opacity: 0;
    }

    .show .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

/* Para dispositivos móviles */




