 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<link rel="stylesheet" href="../css/header.css">
<header>
    <div class="logo-container">
        <a href="../index.php"> <img src="../img/logo2.png" alt="Logo" class="logo">      </a>   
    </div>
    <nav class="menu">
        <ul class="menu-list">
            <li>
                <a href="#">Servicios <i class="fas fa-chevron-down"></i></a>
                <ul class="sub-menu">
                    <li><a href="#">Categoría 1</a></li>
                    <li><a href="#">Categoría 2</a></li>
                    <li><a href="#">Categoría 3</a></li>
                </ul>
            </li>
            <li><a href="promociones.php" data-title="Promociones">Promociones</a></li>
            <li><a href="nosotros.php" data-title="Nosotros">Nosotros</a></li>
            <li><a href="blog.php" data-title="Blog">Blog</a></li>
        </ul>
    </nav>
    <div class="icons ml-auto">
        <a href="#"><i class="fas fa-search" style="font-size: 30px; color: #fff;"></i></a>
        <a href="#"><i class="fas fa-shopping-cart" style="font-size: 30px; color: #fff;"></i></a>
        <a href="#"><i class="fas fa-user" style="font-size: 30px; color: #fff;"></i></a>
    </div>
    <div class="hamburger">
        <i class="fa-sharp fa-solid fa-bars fa-beat" style="font-size: 50px ; color: #fff"></i>
    </div>
    <script src="../script/header.js"></script>
</header>





